div {
    box-sizing: border-box;
    height: 166px;
    width: 120px;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.front {
    background-color: red;
    transform: rotateY(0deg);
}

.back {
    background-color: green;
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}

.front.flipped {
    transform: rotateY(180deg);
}

.back.flipped {
    transform: rotateY(0deg);
}

button {
    position: relative;
    top: 200px;
}