body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.board {
    width: 876px;
    height: 580px;
    background-color: #6cf;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
}

.instruction {
    text-align: center;
    font-size: 1.5rem;
}

.clock {
    text-align: center;
    font-size: 2.2rem;
}

.cardsOnBoard {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 630px;
    height: 340px;
    margin: 0 auto;

}

.card {
    width: 116px;
    height: 158px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #555;
    /* background-image: url(/img/cardBack.png); */
}

.card:hover {
    cursor: pointer;
}

.card--pair:hover {
    cursor: not-allowed;
}

.card--bg {
    background-image: url(/img/cardBack.png);
}

.card--1 {
    background-image: url(/img/card1.png);
}

.card--2 {
    background-image: url(/img/card2.png);
}

.card--3 {
    background-image: url(/img/card3.png);
}

.card--4 {
    background-image: url(/img/card4.png);
}

.card--5 {
    background-image: url(/img/card5.png);
}

.flip--in {
  animation-name: flip--in;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

.flip--out {
  animation-name: flip--out;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

@keyframes flip--in {
    0% { transform: rotate3d(0, 1, 0, 0deg); };
    50% { transform: rotate3d(0, 1, 0, 90deg); };
    100% { transform: rotate3d(0, 1, 0, 90deg); };
}

@keyframes flip--out {
    0% { transform: rotate3d(0, 1, 0, 90deg); };
    50% { transform: rotate3d(0, 1, 0, 90deg); };
    100% { transform: rotate3d(0, 1, 0, 0deg); };
}

.instruction {
    transition: transform 2s;
    transform-style: preserve-3d;
}

.rotated {
    transform: rotateY(360deg);
}