body {
  perspective: 800px;
}

div {
  width: 80px;
  height: 80px;
  background-color: skyblue;
}

.rotated {
  background-color: pink;
  animation-name: flip;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes flip {
    0% { 
        transform: rotate3d(0, 1, 0, 5deg); 
        background-color: skyblue; }
    25% { 
        transform: rotate3d(0, 1, 0, 105deg); 
        background-color: skyblue; }
    75% {
        transform: rotate3d(0, 1, 0, 105deg); 
        background-color: pink; }
    100% {
        transform: rotate3d(0, 1, 0, 5deg); 
        background-color: pink; }
}

.game__container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    }

body {
    background-color: rgb(160, 224, 233);
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

.instructions {
    margin: auto;
    text-align: center;
}

.instruction--1 {
    font-size: 2.3rem;
}

.instruction--2, .points {
    font-size: 1.3rem;
}

.instruction--1, .instruction--2, .timer {
    padding: .2rem;
}

.timer {
    font-size: 1.8rem;
}

.card__container {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.card {
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 166px;
    margin: 5px;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 120px;
}

img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.front {
    transform: rotateX(0deg);
}

.back {
    background-color: rgb(33, 103, 133);
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: 4rem;
    height: 100%;
    line-height: 10rem;
    text-align: center;
    transform: rotateY(180deg);
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.card--flipped {
    transform: rotateY(180deg);
}

.card.fixed {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}
